{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "@antfu"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "react/no-unknown-property":  "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/no-unescaped-entities": "off",
    "no-restricted-syntax": "off",
    "no-void": "off"
  }
}
